@import url("../app.component.css");

nav{
 transition: all 0.25s ease-in-out;
}
.navbar-toggler{
border: none;
outline: none;
}
.navbar-toggler:focus{
outline: none;
box-shadow: none;
}
#navSearchInput, #navSearchInputWide{
  padding: 0.5rem;
  width: 100%;
  
  border-radius: 0px;
  border: none;
  border-bottom: #002540 1px solid;
}
#navSearchInput:focus, #navSearchInputWide:focus{
  outline: none;
  box-shadow: none;
}
#navbarSearchDropdown{
  padding-top:0.5rem ;
  padding-bottom:0.5rem ;
}
.navbar-brand {
    font-size: 2rem;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    color: #002540;
    letter-spacing: 5px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    display: inline-block;     
    position: relative;
    transform: translateX(-25%);
    
  }
  
  .navbar-brand .rotate-left, .rotate-right {
    display: inline-block; 
    transition: all 0.25s ease-in-out; /
  }
  
  .navbar-brand:hover  .rotate-left  {
    transform: rotate(-16deg);
  }
  .navbar-brand:hover  .rotate-right  {
    transform: rotate(16deg);
  }


.icon{
  color: #002540;
  font-size: 1.4rem;
cursor: pointer;  
}  

nav ul li a{
  font-weight: 600;
}
#navbarSearchWide{
  display: none;
}

@media (min-width: 992px) {
  #navbarSearchWide{
    display: flex;

  }
  #navSearchInputWide{
    width: 15rem;
  }
  .navbar-brand{
    transform: translateX(-50%);
  }
  
  .navbar-expand-lg .navbar-collapse {
    
    justify-content: end;
    flex-grow: 0;
  }
  #navbarSearchDropdown{
    display: none !important;
  }
  
}

