/* You can add global styles to this file, and also import other style files */
/* width */
::-webkit-scrollbar {
    padding: 3px;
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #b6d2e0;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #002540;
  }